



<ion-content>
  <div class="page-container">
    <h1 class="page-title">Enjoy the Latest Football and Basketball News</h1>
    <div class="image-container">
      <!-- Replace the image sources with the online image URLs -->
      <img src="https://www.itcshop.hu/img/44973/FIFA10426/500x500,r/FIFA10426.jpg" alt="Football" class="sport-image">
      <img src="https://i.etsystatic.com/31602726/r/il/d4d470/3865120998/il_500x500.3865120998_f784.jpg" alt="Basketball" class="sport-image">
    </div>

    <!-- Add the tabs section -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="football">
          <ion-icon name="football-outline"></ion-icon>
          <ion-label>Football</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="basketball">
          <ion-icon name="basketball-outline"></ion-icon>
          <ion-label>Basketball</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>


